

<%= text_field 'asset-ticker', nil, :autocomplete => :off, :placeholder => 'Ticker', :class => 'asset-ticker' %>

<%= f.text_field :shares, :autocomplete => :off, :placeholder => 'Optional', :class => 'asset-shares' %>

<span class="asset-name"></span>

<%= f.hidden_field :security_id, :class => 'asset-num' %>

<%= f.link_to_remove "[x]", :class => 'asset-rem-link' %>

