<h1>Listing portfolios</h1>

<table class="nostradamus-standard">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<% @portfolios.each do |portfolio| %>
			<tr>
				<td><%= portfolio.name %></td>
				<td><%= link_to 'Show', portfolio %></td>
				<td><%= link_to 'Destroy', portfolio, confirm: 'Are you sure?', method: :delete %></td>
			</tr>
		<% end %>	
	</tbody>
</table>

<br />

<%= link_to 'New Portfolio', new_portfolio_path %>
