<h1>Asset Correlation Articles</h1>

<div>						
	<ul>
		<li><%= link_to 'A "Golden" Lining in the Cloud Hanging Over Europe - Vincenzo Desroches',	:action => 'gold_euro'%></li>																																																
	</ul>
</div>