<span class="search">
	<table>
		<tr>
			<td>Portfolio Name</td>
			<td>Tickers</td>
		</tr>

		<tr>
			<td><%= @portfolio[0].username %></td>
			<td><%= @portfolio[0].tickers %></td>
			<td><%= @portfolio[0].period %></td>			
		</tr>
		

	</table>
</span>

