<head>
	<title>Risk vs Intra-Portfolio Correlation</title>
</head>

<div id="investment-list">

  <h1>Risk vs Intra-portfolio Correlation</h1>
  
	<div>
     <%= ziya_chart load_corr_vs_risk_url, :size => "1200x800" -%>
	</div>

</div>