<div class="content-box2"><!--box2 start-->
	<div class="content-box2-bottom">
	<div class="content-box2-top">
		<h2>News</h2>
		<div class="news-tweets">
            <ul>
            	<li>
            		<%= link_to "Dividing Assets to Minimize Asset Correlation", 'http://blog.arborinvestmentplanner.com/2011/08/asset-allocation-is-dividing-assets-to-minimize-asset-correlation/' %>            		
            	</li>
            </ul>
		</div> <!-- end: text-area2 -->
		
	</div>
	</div>
</div><!--box2 end-->