<div class="content-box2"><!--box2 start-->
	<div class="content-box2-bottom">
	<div class="content-box2-top">
		<h2>News</h2>
		<div class="news-tweets">
            <ul>
                <% @news.list.each do |tweet| %>
                    <li><%= auto_link(tweet.content.html_safe) %></li>
                <% end %>
            </ul>
		</div> <!-- end: text-area2 -->
		
		
		
	</div>
	</div>
</div><!--box2 end-->