<div id="investment-list">

	<title>A Short Tutorial on Asset Correlation</title>
	
	<div id="skyscraper-ad-right">
		<script type="text/javascript"><!--
			google_ad_client = "pub-3231194436906765";
			/* 160x600, Vertical Skyscraper */
			google_ad_slot = "6105303331";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
		</script>
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
	<div>	
		<h1>The Importance of Correlation between Asset Classes</h1>
		<p>
			Constructing a portfolio involves three basic steps:
			<ol>
				<li>1. Selecting which asset classes (stocks, bonds, commodities etc.) to include in the portfolio</li>
				<li>2. Combining the selected asset classes based on expected return, risk and correlation between the asset classes</li>
				<li>3. Selecting assets from within each asset class based on expected return</li>
			</ol>
		</p>	
			
		<p>
			This website focuses primarily on the second step and largely under the assumption that all available asset classes
			will be used to engineer the desired risk and return.		
		</p>
			
		<p>
			Correlation is a statistical measure which indicates the degree to which the prices of two assets
			move together. Correlation between two stocks is 1.0 when the prices of the two stocks move completely
			in tandem. It is -1.0 if the price of stock A always goes up when the price of stock B goes down.
			Correlation is 0 if the two stocks move completely independently of one another.
		</p>
		
		<p> 
			It is crucial to understand that correlation does not tell you anything about volatility. 
			You can have two asset classes that are perfectly correlated, but one may be three times as volatile as the other. 
			A commodity such as gold may be very attractive in terms of correlation but still add so much volatility to a portfolio 
			that you will never want more than a small fractional holding in gold.
		</p>
		
		<p>
			Correlations between assets forms the foundation of portfolio theory. Adding an investment to a portfolio which 
			is negatively correlated with the portfolio as a whole, will reduce the volatility of the total portfolio and 
			provide higher returns for less risk. The importance of combining assets which are negatively correlated
			(or at least uncorrelated) is universally accepted.	In fact, the study of correlation (or covariance) matrices
			is one of the cornerstones of Markowitz's theory of optimal portfolios.
		</p>
		
		<p>
			A moderately leveraged, highly diversified portfolio is considerably less risky than an unleveraged, non-diversified
			portfolio.
		
		<p>
			An important aspect of risk management is the estimation of the correlations between the price movements of 
			different assets. The probability of large loss for a certain portfolio is dominated by correlated moves of its
			different constituents. For example, a position which is simultaneously long in stocks and short in bonds
			is risky because stocks and bonds tend to move in opposite directions in crisis periods. (This is the so-called 
			'flight to quality' effect.)
		</p>
		
		<p>
			The best book to learn more about the importance of correlations between asset classes is William Bernstein's 
			"The Intelligent Asset Allocator"
			If you are looking for a significantly more advanced book which covers a lot of the mathematical theory behind
			asset correlation matrices, I recommend "Theory of Financial Risk and Derivative Pricing" by 
			Jean-Philippe Bouchaud and Marc Potters.
		</p>
		
		<iframe 
			src="http://rcm-na.amazon-adsystem.com/e/cm?t=simplelight-20&o=1&p=8&l=as1&asins=0521819164&fc1=000000&IS2=1&lt1=_blank&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" 
			style="width:120px;height:240px;" 
			scrolling="no" 
			marginwidth="0" 
			marginheight="0" 
			frameborder="0">
		</iframe>
		
		<iframe 
			src="http://rcm-na.amazon-adsystem.com/e/cm?t=simplelight-20&o=1&p=8&l=as1&asins=0071362363&fc1=000000&IS2=1&lt1=_blank&lc1=0C7C1A&bc1=000000&bg1=FFFFFF&f=ifr" 
		    style="width:120px;height:240px;" 
			scrolling="no" 
			marginwidth="0" 
			marginheight="0" 
			frameborder="0">
		</iframe>
	
	</div>

</div>


